Last login: Tue Jan  3 10:28:07 on ttys000

The default interactive shell is now zsh.
To update your account to use zsh, please run `chsh -s /bin/zsh`.
For more details, please visit https://support.apple.com/kb/HT208050.
Mukunthans-MBP:~ doram018$ bah
-bash: bah: command not found
Mukunthans-MBP:~ doram018$ bash

The default interactive shell is now zsh.
To update your account to use zsh, please run `chsh -s /bin/zsh`.
For more details, please visit https://support.apple.com/kb/HT208050.
bash-3.2$ ls
2020				doram018_update			pyjose
AWSCLIV2.pkg			dorms				pymod
Applications			dpay_public_01.pem		re_output.txt
Baptist				eks				replica-set.yaml
Batool				elb_east_1_listener.csv		results.txt
Desktop				elb_loadbalancer_east_1.txt	results_east_1.txt
Disney				elb_loadbalancer_west_2.txt	rmq-east-results.txt
Documents			elb_west_2_listener.csv		rmq-useast-1.txt
Downloads			gam.json			roconeks.pem
LB_US_EAST_1.csv		gi.py				rough
LB_US_WEST_2.csv		github				rr.sh
Library				globals.json			sales.json
Movies				gmini				sales2.json
Music				go				scripts
Pictures			id_rsa				service.yaml
Public				interview_preparation		sg
TWDC.WDPR.PMTSVCS.p12		ipranges.json			sg.zip
US_EAST1_light.txt		ips.txt1			sg_check
US_EAST_1.csv			ips2.txt1			sglogs-21386
US_EAST_1.txt			java_private_01.pem		sm
US_WEST2_light.txt		jm				smmount
US_WEST_2.csv			k.sh				ss-secrets.txt
US_WEST_2.txt			k8-app				ss.txt
VirtualBox VMs			kbtest-latest.json		ss_1.txt
__pycache__			kclearn				ssaa
a				key.pem				ssab
aa				keys.txt			ssac
aa1				kuber				ssh_test
abc				kubernetes			suhas.json
abc.html			kubernetes-the-hard-way		t
abc.py				list.py				teampass
abc.txt				list_comprehension.py		terraform
abc.txt-e			load-config.json		terraform.json
abx.txt				load_backup.json		terraform.tfstate
ac.py				logs				terraform.tfstate.backup
alb_east.txt			logs.zip			test
alb_east_1_listener.csv		md				test.crt
alb_west.txt			movieapp			test.json
alb_west_2_listener.csv		myapp				test.key
ami_patch.zip			mypolicy.json			test.key1
ami_patch2.zip			myprojec			test.key2
app				n				test.key3
avail-se-rca.json		nat.txt				test.txt
availse_prod11.json		ne				test1
aws-sso-login			newapp				test12
bapt				nn				testing
batool_app.zip			nvo_east.txt			testing.txt
bhsf				offer-adapter-service.json	tri
c.txt				orace_prod			tridionfilecopy-prod.pem
cast-unitedway-usw2-latest.json	orace_prod_java			tt
cc.txt				otherelb_east1.txt		tt.txt
checkpoint.py			otherelb_west2.txt		uni
checkpoint_search.py		p				unitedway.json
chef				package-offer-service.json	va.txt
chef_workstation		package-quote-service-wdw.json	vag
cn.sh				package-service.json		validate_log.txt
custom-start.sh			pci_east_alb.txt		vault.json
deploy.json			pci_west_alb.txt		venv
deployed.tfstate		playground			wdpr-iam-workspaces
docker-compose.yaml		ports_not_open.txt		wdpr.json
docker-compose.yml		prod-config.json		webvan-client-keystore-dev.p12
docker.tf			progressbar.py			webvan-truststore-dev.jks
doram018.pub			progressbar.pyc			yocorp
bash-3.2$ ls -lrt
total 268504
drwxr-xr-x+    5 doram018  staff       160 Oct  9  2017 Public
-rw-r--r--     1 doram018  staff     12348 Oct 19  2017 load-config.json
-rw-r--r--     1 doram018  staff     11896 Oct 19  2017 prod-config.json
drwxr-xr-x     3 doram018  staff        96 Nov 27  2017 github
drwxr-xr-x     3 doram018  staff        96 Jan  9  2018 testing
drwxr-xr-x     5 doram018  staff       160 Feb 16  2018 sglogs-21386
-rw-r--r--     1 doram018  staff       200 Feb 28  2018 list.py
drwxr-xr-x     3 doram018  staff        96 Mar  9  2018 tri
-rw-r--r--     1 doram018  staff      5363 Mar 28  2018 checkpoint.py
-rw-r--r--     1 doram018  staff      2713 Mar 28  2018 checkpoint_search.py
drwxr-xr-x     3 doram018  staff        96 Mar 30  2018 yocorp
drwx------+    7 doram018  staff       224 May  1  2018 Pictures
drwxr-xr-x     6 doram018  staff       192 May  7  2018 chef
-rw-r--r--     1 doram018  staff       419 May 16  2018 doram018.pub
-rw-r--r--     1 doram018  staff    106515 May 29  2018 nat.txt
-rwxrwxrwx     1 doram018  staff      1679 Jun  8  2018 tridionfilecopy-prod.pem
-rw-r--r--     1 doram018  staff        82 Jun 13  2018 cast-unitedway-usw2-latest.json
-rw-r--r--     1 doram018  staff      9691 Jun 13  2018 mypolicy.json
drwxr-xr-x     2 doram018  staff        64 Jun 13  2018 pymod
-rw-r--r--     1 doram018  staff      2544 Jun 19  2018 test.txt
-rw-r--r--     1 doram018  staff       433 Jul 16  2018 abc.py
-rw-r--r--     1 doram018  staff        81 Jul 25  2018 unitedway.json
drwxr-xr-x     4 doram018  staff       128 Jul 25  2018 myprojec
-rw-r--r--     1 doram018  staff      2391 Aug  1  2018 test.key1
-rw-r--r--     1 doram018  staff      2391 Aug  1  2018 test.key2
-rw-r--r--     1 doram018  staff      2391 Aug  1  2018 test.key3
-rw-r--r--     1 doram018  staff       835 Aug  7  2018 results.txt
-rw-r--r--     1 doram018  staff       119 Aug  9  2018 a
drwxr-xr-x     6 doram018  staff       192 Aug 16  2018 jm
-rw-r--r--     1 doram018  staff       280 Aug 22  2018 docker-compose.yml
-rw-r--r--     1 doram018  staff       263 Sep  9  2018 ac.py
drwxr-xr-x     6 doram018  staff       192 Sep  9  2018 venv
drwxr-xr-x     7 doram018  staff       224 Sep 10  2018 test1
-rw-r--r--     1 doram018  staff    172668 Sep 11  2018 deployed.tfstate
drwxr-xr-x     2 doram018  staff        64 Sep 25  2018 sg_check
-rw-r--r--     1 doram018  staff       136 Sep 26  2018 list_comprehension.py
-rw-r--r--     1 doram018  staff   9520178 Oct  1  2018 sg.zip
drwxr-xr-x    33 doram018  staff      1056 Oct  2  2018 sg
drwxr-xr-x     6 doram018  staff       192 Oct 13  2018 vag
-rw-r--r--     1 doram018  staff       313 Oct 15  2018 gi.py
-rw-r--r--     1 doram018  staff       324 Oct 30  2018 progressbar.pyc
drwxr-xr-x     3 doram018  staff        96 Oct 30  2018 __pycache__
-rw-r--r--     1 doram018  staff       104 Oct 30  2018 progressbar.py
-rw-r--r--     1 doram018  staff     82866 Nov  1  2018 US_EAST_1.txt
-rw-r--r--     1 doram018  staff     62613 Nov  1  2018 US_WEST_2.txt
-rw-r--r--     1 doram018  staff     22381 Nov  1  2018 US_EAST1_light.txt
-rw-r--r--     1 doram018  staff   2410340 Nov  1  2018 abx.txt
-rw-r--r--     1 doram018  staff     17359 Nov  1  2018 US_WEST2_light.txt
-rw-r--r--@    1 doram018  staff     45233 Nov  1  2018 US_WEST_2.csv
-rw-r--r--@    1 doram018  staff         0 Nov  1  2018 US_EAST_1.csv
-rw-r--r--     1 doram018  staff      5995 Nov  1  2018 otherelb_east1.txt
-rw-r--r--     1 doram018  staff      4590 Nov  1  2018 otherelb_west2.txt
-rw-r--r--@    1 doram018  staff     16193 Nov  1  2018 LB_US_EAST_1.csv
-rw-r--r--@    1 doram018  staff     12076 Nov  1  2018 LB_US_WEST_2.csv
-rw-r--r--     1 doram018  staff    186537 Nov  7  2018 ipranges.json
-rw-r--r--     1 doram018  staff     16862 Nov  7  2018 results_east_1.txt
-rw-r--r--     1 doram018  staff      5967 Jan  8  2019 elb_loadbalancer_east_1.txt
-rw-r--r--     1 doram018  staff      5253 Jan  8  2019 elb_loadbalancer_west_2.txt
-rw-r--r--@    1 doram018  staff     17740 Jan  8  2019 elb_east_1_listener.csv
-rw-r--r--     1 doram018  staff     50287 Jan  8  2019 alb_east.txt
-rw-r--r--     1 doram018  staff     39655 Jan  8  2019 alb_west.txt
-rw-r--r--@    1 doram018  staff    127361 Jan  8  2019 alb_west_2_listener.csv
-rw-r--r--@    1 doram018  staff    152848 Jan  8  2019 alb_east_1_listener.csv
-rw-r--r--@    1 doram018  staff     16807 Jan  8  2019 elb_west_2_listener.csv
-rw-r--r--     1 doram018  staff       246 Jan 11  2019 pci_west_alb.txt
-rw-r--r--     1 doram018  staff       112 Jan 11  2019 pci_east_alb.txt
drwxr-xr-x   214 doram018  staff      6848 Jan 15  2019 wdpr-iam-workspaces
-rw-r--r--     1 doram018  staff       252 Jan 17  2019 nvo_east.txt
-rw-------     1 doram018  staff      1675 Jan 29  2019 doram018_update
drwxr-xr-x     6 doram018  staff       192 Feb  5  2019 rough
-r--------     1 doram018  staff       887 Feb  8  2019 key.pem
-rw-r--r--     1 doram018  staff      1679 Apr  2  2019 id_rsa
-r--------     1 doram018  staff      1675 Apr  3  2019 keys.txt
-rw-r--r--     1 doram018  staff       943 Apr  8  2019 t
-rw-r--r--     1 doram018  staff       313 Apr 23  2019 docker.tf
-rw-r--r--     1 doram018  staff      2970 Apr 23  2019 terraform.tfstate.backup
-rw-r--r--     1 doram018  staff       317 Apr 23  2019 terraform.tfstate
-rw-r--r--     1 doram018  staff     15448 May 20  2019 validate_log.txt
-rw-r--r--     1 doram018  staff      1463 May 20  2019 ips.txt1
-rw-r--r--     1 doram018  staff      1194 May 20  2019 ips2.txt1
-rw-r--r--     1 doram018  staff      2331 May 20  2019 ports_not_open.txt
-rw-r--r--     1 doram018  staff       724 May 20  2019 rmq-useast-1.txt
-rw-r--r--     1 doram018  staff      6763 May 20  2019 rmq-east-results.txt
drwxr-xr-x     4 doram018  staff       128 May 22  2019 p
-rw-r--r--     1 doram018  staff        30 May 28  2019 uni
-rw-r--r--     1 doram018  staff       131 May 31  2019 docker-compose.yaml
-rw-r--r--     1 doram018  staff      1675 Jun 14  2019 test.key
-rw-r--r--     1 doram018  staff      1529 Jun 14  2019 test.crt
-rw-r--r--     1 doram018  staff       509 Jun 18  2019 replica-set.yaml
drwxr-xr-x     5 doram018  staff       160 Jun 23  2019 kubernetes
-r--------     1 doram018  staff      1674 Jun 27  2019 md
drwxr-xr-x     6 doram018  staff       192 Jun 27  2019 kuber
-rw-r--r--     1 doram018  staff      1210 Jul  5  2019 orace_prod
-rw-r--r--     1 doram018  staff     15592 Jul  5  2019 orace_prod_java
-rw-r--r--     1 doram018  staff       278 Jul  6  2019 service.yaml
-rw-r--r--     1 doram018  staff       360 Aug 19  2019 n
-rw-r--r--     1 doram018  staff        75 Sep 20  2019 kbtest-latest.json
drwxr-xr-x     5 doram018  staff       160 Sep 23  2019 eks
drwxrwxrwx     4 doram018  staff       128 Oct 10  2019 test
drwxr-xr-x    21 doram018  staff       672 Nov  7  2019 scripts
-rw-r--r--     1 doram018  staff       172 Nov 12  2019 custom-start.sh
drwxr-xr-x     6 doram018  staff       192 Nov 14  2019 teampass
drwxr-xr-x    12 doram018  staff       384 Nov 22  2019 kubernetes-the-hard-way
drwxr-xr-x     5 doram018  staff       160 Dec  2  2019 logs
-rw-r--r--     1 doram018  staff   1668364 Dec  5  2019 logs.zip
drwxr-xr-x     6 doram018  staff       192 Jan  5  2020 k8-app
-r--r--r--     1 doram018  staff     14907 Jan 17  2020 webvan-truststore-dev.jks
-r--r--r--     1 doram018  staff      8576 Jan 17  2020 webvan-client-keystore-dev.p12
-rwxr-xr-x     1 doram018  staff   1908493 Jan 23  2020 batool_app.zip
drwxr-xr-x    16 doram018  staff       512 Jan 23  2020 Batool
drwxr-xr-x     2 doram018  staff        64 Feb  6  2020 test12
drwxr-xr-x     7 doram018  staff       224 Feb 12  2020 gmini
drwxr-xr-x     2 doram018  staff        64 Feb 28  2020 sm
drwxr-xr-x    13 doram018  staff       416 Apr 17  2020 app
-rwxr-xr-x     1 doram018  staff      5544 Apr 21  2020 TWDC.WDPR.PMTSVCS.p12
-rw-r--r--     1 doram018  staff      1020 May 15  2020 c.txt
-rwxr-xr-x     1 doram018  staff      1679 May 20  2020 java_private_01.pem
-rwxr-xr-x     1 doram018  staff       451 May 20  2020 dpay_public_01.pem
drwxr-xr-x     7 doram018  staff       224 May 23  2020 myapp
-rwxr-xr-x     1 doram018  staff    268600 Jun 25  2020 re_output.txt
drwxr-xr-x     7 doram018  staff       224 Jul 23  2020 newapp
-rw-r--r--     1 doram018  staff        85 Aug 21  2020 abc.txt-e
-rw-r--r--     1 doram018  staff        85 Aug 21  2020 abc.txt
-rw-r--r--     1 doram018  staff        85 Aug 22  2020 cc.txt
-rw-r--r--     1 doram018  staff      1286 Aug 25  2020 test.json
-rw-r--r--     1 doram018  staff      8548 Aug 28  2020 va.txt
drwxr-xr-x     2 doram018  staff        64 Sep  1  2020 ne
-rw-r--r--     1 doram018  staff     30586 Sep 23  2020 availse_prod11.json
-rw-r--r--     1 doram018  staff     10695 Oct  5  2020 suhas.json
-rw-r--r--     1 doram018  staff    276692 Oct  7  2020 load_backup.json
-rw-r--r--     1 doram018  staff      1744 Oct  7  2020 deploy.json
-rw-r--r--     1 doram018  staff        93 Oct  7  2020 gam.json
-rw-r--r--     1 doram018  staff     28032 Oct  7  2020 globals.json
-rw-r--r--     1 doram018  staff        98 Oct  7  2020 tt.txt
-rw-r--r--     1 doram018  staff      5288 Oct  7  2020 offer-adapter-service.json
-rw-r--r--     1 doram018  staff      1294 Oct  7  2020 package-offer-service.json
-rw-r--r--     1 doram018  staff        76 Oct  7  2020 package-quote-service-wdw.json
-rw-r--r--     1 doram018  staff       291 Oct  7  2020 package-service.json
-rw-r--r--     1 doram018  staff      1422 Oct  7  2020 sales.json
-rw-r--r--     1 doram018  staff      1102 Oct  7  2020 sales2.json
-rw-r--r--     1 doram018  staff    251906 Oct  7  2020 terraform.json
-rw-r--r--     1 doram018  staff         0 Oct  7  2020 vault.json
-rw-r--r--     1 doram018  staff       861 Oct  7  2020 wdpr.json
drwxr-xr-x     2 doram018  staff        64 Oct 13  2020 smmount
drwxr-xr-x     2 doram018  staff        64 Oct 21  2020 aa1
-rw-r--r--     1 doram018  staff     30046 Nov  3  2020 avail-se-rca.json
drwxr-xr-x     3 doram018  staff        96 Nov  6  2020 2020
drwx------     9 doram018  staff       288 Nov  9  2020 Applications
-rw-r--r--     1 doram018  staff      6073 Nov 12  2020 nn
drwxr-xr-x     7 doram018  staff       224 Nov 17  2020 chef_workstation
drwxr-xr-x    30 doram018  staff       960 Nov 18  2020 Disney
-rwxrwxrwx     1 doram018  staff       145 Nov 20  2020 cn.sh
drwxr-xr-x     4 doram018  staff       128 Dec  7  2020 dorms
drwxr-xr-x     6 doram018  staff       192 Dec  8  2020 aa
-rwxrwxrwx     1 doram018  staff        95 Dec  8  2020 rr.sh
drwxr-xr-x     6 doram018  staff       192 Dec 10  2020 terraform
-rw-r--r--     1 doram018  staff         4 Dec 11  2020 testing.txt
-rw-r--r--     1 doram018  staff       271 Jan 12  2021 abc.html
-rw-r--r--     1 doram018  staff        73 Jan 15  2021 ss.txt
-rw-r--r--     1 doram018  staff       130 Jan 17  2021 ss-secrets.txt
-rw-r--r--     1 doram018  staff        73 Jan 18  2021 ss_1.txt
drwxr-xr-x     2 doram018  staff        64 Jan 19  2021 abc
drwxr-xr-x     6 doram018  staff       192 Jan 26  2021 kclearn
-rw-r--r--     1 doram018  staff        11 Feb  5  2021 ssac
-rw-r--r--     1 doram018  staff        34 Feb  5  2021 ssab
-rw-r--r--     1 doram018  staff        28 Feb  5  2021 ssaa
drwxr-xr-x     6 doram018  staff       192 Feb  9  2021 tt
drwxr-xr-x    24 doram018  staff       768 Mar  1  2021 playground
-rw-r--r--     1 doram018  staff  26564814 Aug 16  2021 AWSCLIV2.pkg
drwxr-xr-x     7 doram018  staff       224 Aug 26  2021 interview_preparation
drwxr-xr-x     3 doram018  staff        96 Aug 26  2021 go
drwxr-xr-x     8 doram018  staff       256 Aug 26  2021 aws-sso-login
drwxr-xr-x    12 doram018  staff       384 Aug 30  2021 ssh_test
-rwxrwxrwx     1 doram018  staff        88 Oct  5  2021 k.sh
drwxr-xr-x     3 doram018  staff        96 Oct  6  2021 Baptist
drwxr-xr-x     3 doram018  staff        96 Oct  6  2021 bhsf
drwx------     3 doram018  staff        96 May  8  2022 VirtualBox VMs
drwx------+    5 doram018  staff       160 Jul 21 11:19 Music
drwx------+    6 doram018  staff       192 Jul 21 11:19 Movies
drwx------@   93 doram018  staff      2976 Aug 10 11:38 Library
-r--------     1 doram018  staff      1679 Sep 13 12:50 roconeks.pem
drwxr-xr-x     8 doram018  staff       256 Nov 20 08:50 movieapp
drwxr-xr-x     7 doram018  staff       224 Nov 20 14:52 pyjose
-rw-r--r--@    1 doram018  staff  74088100 Nov 22 13:00 ami_patch2.zip
-rw-r--r--@    1 doram018  staff  18713667 Nov 22 13:01 ami_patch.zip
drwxr-xr-x     5 doram018  staff       160 Dec  5 15:10 bapt
drwx------+   20 doram018  staff       640 Dec 25 10:28 Documents
drwx------@ 1048 doram018  staff     33536 Dec 30 10:03 Downloads
drwx------+  181 doram018  staff      5792 Jan  3 00:00 Desktop
bash-3.2$ pwd
/Users/doram018
bash-3.2$ mkdir githubmukunth
bash-3.2$ cd gi
bash: cd: gi: No such file or directory
bash-3.2$ cd githubmukunth/
bash-3.2$ ls
bash-3.2$ mkdir K8-Flask-UI
bash-3.2$ cd K8-Flask-UI/
bash-3.2$ ls
bash-3.2$ git clone https://github.com/mukunthd .
Cloning into '.'...
remote: Not Found
fatal: repository 'https://github.com/mukunthd/' not found
bash-3.2$ ls
bash-3.2$ git clone https://github.com/mukunthd/K8-Flask-UI.git .
Cloning into '.'...
remote: Enumerating objects: 3, done.
remote: Counting objects: 100% (3/3), done.
remote: Total 3 (delta 0), reused 0 (delta 0), pack-reused 0
Unpacking objects: 100% (3/3), done.
bash-3.2$ ls
README.md
bash-3.2$ cp -R ~/Downloads/app 2/* .
cp: 2/*: No such file or directory
bash-3.2$ cp -R ~/Downloads/"app 2"/* .
bash-3.2$ ls
README.md	app		forms.py	list_pods.py	static		templates
bash-3.2$ grep "bhsf" * -lr
bash-3.2$ grep app * -lr
app/run.py
app/__pycache__/main.cpython-37.pyc
app/run_bkp_2-dec.py
app/static/css/bootstrap.min.css
app/static/css/sb-admin.min.css
app/static/css/fontawesome/fontawesome.min.css
app/static/css/toolkit-inverse.css
app/static/css/all.min.css
app/static/css/index_style - Copy.css
app/static/css/sb-admin.css
app/static/css/report_style.css
app/templates/index.html
app/templates/Title_files/jsapi_compiled_format_module.js
app/templates/Title_files/util.css
app/templates/Title_files/jsapi_compiled_ui_module.js
app/templates/Title_files/loader(1).js
app/templates/Title_files/jsapi_compiled_default_module.js
app/templates/Title_files/loader.js
app/templates/Report.html
list_pods.py
templates/index.html
templates/home.html
bash-3.2$ grep "bhsf" * -lr
bash-3.2$ grep bhsf * -lr
bash-3.2$ grep baptist * -lr
bash-3.2$ ls
README.md	app		forms.py	list_pods.py	static		templates
bash-3.2$ ls -lrt
total 32
-rw-r--r--   1 doram018  staff    13 Jan  3 10:33 README.md
drwxr-xr-x   8 doram018  staff   256 Jan  3 10:33 app
-rw-r--r--@  1 doram018  staff   764 Jan  3 10:33 forms.py
-rw-r--r--@  1 doram018  staff  4566 Jan  3 10:33 list_pods.py
drwxr-xr-x@  4 doram018  staff   128 Jan  3 10:33 static
drwxr-xr-x@ 11 doram018  staff   352 Jan  3 10:33 templates
bash-3.2$ ls -lrt
total 32
-rw-r--r--   1 doram018  staff    13 Jan  3 10:33 README.md
drwxr-xr-x   8 doram018  staff   256 Jan  3 10:33 app
-rw-r--r--@  1 doram018  staff   764 Jan  3 10:33 forms.py
-rw-r--r--@  1 doram018  staff  4566 Jan  3 10:33 list_pods.py
drwxr-xr-x@  4 doram018  staff   128 Jan  3 10:33 static
drwxr-xr-x@ 11 doram018  staff   352 Jan  3 10:33 templates
bash-3.2$ ls -lrt
total 32
-rw-r--r--   1 doram018  staff    13 Jan  3 10:33 README.md
drwxr-xr-x   8 doram018  staff   256 Jan  3 10:33 app
-rw-r--r--@  1 doram018  staff   764 Jan  3 10:33 forms.py
-rw-r--r--@  1 doram018  staff  4566 Jan  3 10:33 list_pods.py
drwxr-xr-x@  4 doram018  staff   128 Jan  3 10:33 static
drwxr-xr-x@ 11 doram018  staff   352 Jan  3 10:33 templates
bash-3.2$ rm -rf app forms.py list_pods.py static templates
bash-3.2$ ls
README.md
bash-3.2$ pwd
/Users/doram018/githubmukunth/K8-Flask-UI
bash-3.2$ cd ..
bash-3.2$ ls
K8-Flask-UI
bash-3.2$ rm -rf K8-Flask-UI
bash-3.2$ git clone https://github.com/mukunthd/movieapp.git
Cloning into 'movieapp'...
remote: Enumerating objects: 16, done.
remote: Counting objects: 100% (16/16), done.
remote: Compressing objects: 100% (12/12), done.
remote: Total 16 (delta 2), reused 16 (delta 2), pack-reused 0
Unpacking objects: 100% (16/16), done.
bash-3.2$ ls
                                                        <li class="pa">
movieapp
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <title>
        Overview &middot; Dashboard theme &middot; Official Bootstrap Themes
    </title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic" rel="stylesheet">
    <link href="../static/css/toolkit-inverse.css" rel="stylesheet">
    <link href="../static/css/application.css" rel="stylesheet">
        <link href="../static/css/index_style.css" rel="stylesheet">

    <style>
      /* note: this is a hack for ios iframe for bootstrap themes shopify page */
      /* this chunk of css is not part of the toolkit :) */
      body {
        width: 1px;
        min-width: 100%;
        *width: 100%;
      }
    </style>
  </head>
<body>
        <div class="bw">
                <div class="dh">
                        <div class="en bpz">
                                <nav class="bqg">
                                        <div class="bqa">
                                        </div>
                                        <br><br>
                                        <div class="collapse bpd" id="nav-toggleable-md">
                                                <ul class="nav pb nav-stacked wz">
                                                        <li class="axq">Dashboards</li>
                                                        <li class="pa">
                                                                <a class="oy active" href="index.html">Home</a>
                                                        </li>
                                                        <li class="pa">
"index.html" [dos] 179L, 5620B
